################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StoreAPI/.vs/StoreAPI/FileContentIndex/75e2dce9-4a86-4f7d-80c9-b477ff532c95.vsidx
/StoreAPI/.vs/StoreAPI/FileContentIndex/b2fda874-bf16-4e51-a798-c5b0fb3b7174.vsidx
